<h1> NEW POST!</h1>

<form action="/posts" method="POST" enctype="multipart/form-data">
    
    <input type="text" name="post[title]" placeholder="Title"></div>
    <div><input type="text" name="post[price]" placeholder="Price"></div>
    <div>
        <input type="file" accept="image/*" name="images", multiple />
    </div>
    <div><textarea name="post[description]" placeholder="description"></textarea></div>
    <div><input type="text" name="post[location]" placeholder="Location"></div>
    
    <input type="submit">
</form>